:root {
  --font-special: 'Sacramento', cursive; 
  --font-primary: 'Fira Sans', sans-serif; 
  --font-noto-serif: 'Noto Serif', serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  font-weight: 300;
}