.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-logo {
  font-family: var(--font-special);
  font-size: 150px;
  margin-bottom: 50px;
}

.home-description {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
}

.pp-button-border {
  border: 1px solid black;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 300;
  background-color: white;
  color: black;
  transition: 0.1s ease;
  margin: 100px;
}

.pp-button-border:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}
